@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');

:root {
  --stage1: #f02cf1;
  --stage2: #fba200;
  --stage3: #067fc3;
  --stage4: #6922c3;
  --stage5: #ed5030;
  --progress-fill: #45d715;
  --progress-empty: #e0e0e0;
  --black: #303030;
  --white: #fff;
  --bg: #f6f7fb;

  --stage1-hover: #e229e2;
  --stage2-hover: #e79604;
  --stage3-hover: #0c6fa7;
  --stage4-hover: #5010a0;
  --stage5-hover: #d83b1b;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

h1 {
  font-weight: 900;
  text-transform: uppercase;
  margin-top: 50px;
  font-size: 36px;
}

.progress-container {
  width: 725px;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  position: relative;
}

.icon {
  width: 25px;
  height: 25px;
  color: white;
}

.stages {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  cursor: pointer;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.stage1 {
  background-color: var(--stage1);
  transition: background-color 0.2s ease-in;
}

.stage1:hover {
  background-color: var(--stage1-hover);
}

.stage2 {
  background-color: var(--stage2);
  border: solid;
  border-color: var(--white);
  border-width: 3px;
  transition: background-color 0.2s ease-in;
}

.stage2:hover {
  background-color: var(--stage2-hover);
}

.stage3 {
  background-color: var(--stage3);
  border: solid;
  border-color: var(--white);
  border-width: 3px;
  transition: background-color 0.2s ease-in;
}

.stage3:hover {
  background-color: var(--stage3-hover);
}

.stage4 {
  background-color: var(--stage4);
  border: solid;
  border-color: var(--white);
  border-width: 3px;
  transition: background-color 0.2s ease-in;
}

.stage4:hover {
  background-color: var(--stage4-hover);
}

.stage5 {
  background-color: var(--stage5);
  border: solid;
  border-color: var(--white);
  border-width: 3px;
  transition: background-color 0.2s ease-in;
}

.stage5:hover {
  background-color: var(--stage5-hover);
}

.progress-empty {
  position: absolute;
  z-index: -2;
  width: 100%;
  background-color: var(--progress-empty);
  height: 20px;
  top: 50%;
  transform: translateY(-50%);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.progress-fill {
  position: absolute;
  z-index: -1;
  width: 0%;
  background-color: var(--progress-fill);
  height: 20px;
  top: 50%;
  transform: translateY(-50%);
  transition: width 0.3s ease-in;
}

h2 {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 32px;
  margin: 0;
}
p {
  font-weight: 400;
  font-size: 14px;
}

.content-container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  margin-top: 150px;
}

.image-container {
  width: 50vw;
  display: flex;
  justify-content: flex-end;
}

.image-container img {
  height: 363px;
  margin-right: 120px;
}

.text-container {
  width: 50vw;
  max-width: 585px;
  text-align: justify;
}

.stage1-content {
  display: flex;
}

.stage1-content h2 {
  color: var(--stage1);
}

.stage2-content {
  display: none;
}

.stage2-content h2 {
  color: var(--stage2);
}

.stage3-content {
  display: none;
}

.stage3-content h2 {
  color: var(--stage3);
}

.stage4-content {
  display: none;
}

.stage4-content h2 {
  color: var(--stage4);
}
.stage5-content {
  display: none;
}

.stage5-content h2 {
  color: var(--stage5);
}
